name: Vagrant Ruby Tests
on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests-ruby:
    runs-on: ubuntu-latest
    continue-on-error: true
    name: Unit tests
    steps:
      - name: Code Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Setup Ruby
        uses: ruby/setup-ruby@250fcd6a742febb1123a77a841497ccaa8b9e939 # v1.152.0
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: install dependencies
        run: sudo apt -y install libarchive-tools
      - name: Run Tests
        run: bundle exec rake test:unit
