name: Vagrant Ruby Tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests-ruby:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: install dependencies
        run: sudo apt -y install libarchive-tools
      - name: Run Tests
        run: bundle exec rake test:unit
