name: Vagrant Ruby Tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-tests-ruby:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: |
            libarchive-tools
          version: 1.0
      - name: Configure Datadog Test Optimization
        uses: datadog/test-visibility-github-action@v2
        with:
          languages: ruby
          api_key: ${{ secrets.DD_API_KEY }}
          site: datadoghq.eu
      - name: Run Tests
        run: bundle exec rake test:unit
